extends layout

block content
  h1 Vroom
  p.lead The best alternative to online communication
  hr
  .row
    .col-md-6
      h2 Manage classrooms
      p Create and join any classroom, whereever you like.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Classrooms
      p These are the central hub of where you can find your deadlines, as well as past recorded sessions.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Chat Feature
      p Chat with your classmates!
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Tired of seeing blank screens?
      p As the owner of your classroom, you can choose to enforce video chat, that way nobody can hide.
      p
        a.btn.btn-raised(href='#', role='button') View details »