extends ../layout

block content
    .row
        .card.mb-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
        .card.mb-3.ml-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
        .card.mb-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
        .card.mb-3.ml-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
        .card.mb-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
        .card.mb-3.ml-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
        .card.mb-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
        .card.mb-3.ml-3(style='max-width: 540px;')
            .row.no-gutters
                .col-md-4
                    img.card-img(src='https://gravatar.com/avatar/?s=160&d=retro' alt='...').center-block
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        p.card-text
                            small.text-muted Last updated 3 mins ago