extends ../layout

block content
    .row.d-flex.justify-content-around.mb-3
        button.btn.btn-primary.btn-block(type="button" style='max-width: 540px;' href="/classroom/create") 
            |Create a new classroom
        button.btn.btn-secondary.btn-block(type="button" style='max-width: 540px; href="/classroom/join') 
            |Join a classroom
    .row.justify-content-md-around
        if userClassrooms
            each classroom in userClassrooms
                .card.mb-3(style='max-width: 540px;')
                    .row.no-gutters
                        .col-md-4
                            img.card-img(src='#{classroom.gravitar(160)}' alt='...').center-block
                        .col-md-8
                            .card-body
                                h5.card-title #{classroom.name}
                                p.card-text
                                    | #{classroom.description}
                                p.card-text
                                    small.text-muted #{classroom.timestamp}
        else 
            | you don't have any classrooms lol